@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  padding: 40px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  background: rgb(239, 239, 239);
  padding: 20px 0;
  color: rgb(158, 158, 158);
}

.container {
  margin: 20px;
  display: flex;
  align-items: flex-start;
}

.left, .right {
  flex-basis: 60%;
/*   float: left;
  width: 50%;
  padding-bottom: 20px; */
}

.left {
  margin-right: 10px;
}

input[type="text"],
input[type="subject"],
input[type="email"] {
  width: 100%;
  border: none;
  line-height: 30px;
  margin: 5px 0;
  border-radius: 4px;
  padding-left: 15px;
}

textarea {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

button {
  color: #FFF;
  background: #4fa473;
  border: none;
  margin: 0 20px 20px 20px;
  line-height: 30px;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .container { 
    flex-direction: column; 
  }
}


/* Below modified from github*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */